= render partial: 'amount_box', locals: {text: 'Credits', type: 'success', amount: credits_total}

= render partial: 'amount_box', locals: {text: 'Debits', type: 'danger', amount: debits_total}

= render partial: 'amount_box', locals: {text: 'Balance', type: 'info', amount: total_balance}
